html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/*img, video, iframe, canvas, svg {*/
/*  filter: invert(1);*/
/*}*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
